#m {
	 border-top-right-radius:10%;
	 border-top-left-radius: 10%;
	 border-bottom-left-radius: 10%;
	 border-bottom-right-radius:10%;
	 width: 150px;
	 margin: 10px 10px;
}

.im {
	height: 150px;
	width: 100%;
	border-top-right-radius:10%;
	border-top-left-radius: 10%;
	border-bottom-right-radius:10%;
	border-bottom-left-radius: 10%;
	background-size: cover;
}

#feedback {
	text-decoration: none;
	 color: aliceblue;
}

#feedback:hover {
	border-bottom: solid;
	border-radius: 5px;
	border-color: aliceblue;
}
